* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-wrap: wrap;
  }
  
.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu {
    background-color: rgb(34, 32, 32);
}

.main {
    background-color: #EAEDF0;
    min-height: 600px;
    display: inline-block;
    text-align: center;
}

.asteroid {
    background-color: #EAEDF0;
    min-height: 600px;
    display: flex;
}
  
.content {
    background-color: #EAEDF0;
    min-height: 600px;
    text-align: center;
}

.content h1 {
    padding: 75px;
}

.content img {
    max-height: 500px;
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.main img {
    max-height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.main h1 {
    text-align: center;
    margin-top: 25px;
    font-family: "Arial";
}

.asteroid h1 {
    text-align: center;
    margin-top: 25px;
    font-family: "Arial";
}

.main h2 {
    text-align: center;
    font-family: "Arial";
}

.sidebar {
    display: inline-block;
    background-color: yellow;
    min-height: 80px;
    text-align: center;
    padding: 10px;
}
  
.footer {
    background-color: black;
    height: 80px;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Arial";
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 50px;
}


@media only screen and (max-width: 960px) {
    nav ul {
        display: block;
        margin: auto;
        width: 100%;
        list-style-type: none;
        overflow: hidden;
        padding: 0;
        background-color: rgb(34, 32, 32);
    }
    nav li {
        float: center;
    }
    nav li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: x-large;
        font-weight: bold;
        font-family: "Arial";
        width: 100%;
        margin: 0;
    }
    nav li a:hover, .dropdown:hover .dropbtn, .dropdown:hover .dropbtn_active {
        background-color: rgb(23, 156, 23);
        cursor: pointer;
    }
    
    nav .active {
        background-color: rgb(3, 65, 6);
    }
}


@media only screen and (min-width: 961px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }
    .sidebar {
        width: 33%;
    }
    .content {
        width: 67%;
    }
    nav ul {
        display: block;
        margin: auto;
        width: 100%;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: rgb(34, 32, 32);
    }
    
    nav li {
        float: left;
    }
    
    nav li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        /*height: 100%;*/
        font-size: x-large;
        font-weight: bold;
        font-family: "Arial";
        margin: 0;
        /*line-height: 40px;*/
    }
    
    nav li a:hover, .dropdown:hover .dropbtn, .dropdown:hover .dropbtn_active {
        background-color: rgb(23, 156, 23);
        cursor: pointer;
    }
    
    nav .active {
        background-color: rgb(3, 65, 6);
    }
}

